 @import "crt.css"; 
 
 #canvas {
     width: 100%;
     height: 85%;
 }

 #screen {
    border-radius: 15px;

    background: #000;
    z-index: 1000;
    
    margin-bottom: 10px;
}
 
#settings {
    height: 450px;
    width: 50%;
}

.flip-card-inner {
    transition: transform 0.8s;
    transform-style: preserve-3d;
    margin-top: 20px;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.card {
    border-radius: 15px;
}

#tv {
    background-color: #000;
    opacity: 0.9;
}
 